body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.calculator {
    display: inline-block;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

#display {
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
    padding-right: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-gap: 10px;
    justify-content: center;
}

button {
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
}

button.equal {
    grid-column: span 2;
    background-color: #5C1F0F;
    color: white;
}